[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pandas = "*"
kaggle = "*"
jupyter = "*"
matplotlib = "*"
sklearn = "*"
numpy = "*"
keras = "*"
pydot = "*"
tensorflow = "*"
seaborn = "*"

[dev-packages]

[requires]
python_version = "3.6"
